.name_shop{
  text-align: center;
  color: #263037;
 
}

.about_shop{
  color: #263037;
  text-align: center;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.about_shop:hover{
  opacity: 0;
}

.main_photo{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}